<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="PowWow">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[

<!DOCTYPE html>
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">google.load("jquery", "1.7.1");</script>
<script type="text/javascript" 
  src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=0.2"></script>
<script type="text/javascript" 
  src="{{ request.build_absolute_uri }}/static/powwow.js"></script>

<link type="text/css" rel="stylesheet" 
  href="{{ request.build_absolute_uri }}/static/powwow.css" />

<div>Hello world!</div>

]]></Content>
</Module>
