<table class="table table-striped table-bordered table-condensed">
  <tr><th>ID</th><td><a href="{{ issue.browse_url }}">{{ issue.key }}</a></td></tr>
  <tr><th>Summary</th><td>{{ issue.fields.summary.value }}</td></tr>
  <tr><th>Description</th><td>{{ issue.fields.description.value|linebreaksbr }}</td></tr>
  <tr><th>Assignee</th><td>{{ issue.fields.assignee.value.displayName }}</td></tr>
  <tr><th>Status</th><td>{{ issue.fields.status.value.name }}</td></tr>
  <tr>
    <th>Comments</th>
    <td>
      {% for comment in issue.fields.comment.value  %}
      <div class="alert alert-info">
        <strong>{{ comment.author.displayName }}: </strong>
        {{ comment.body|linebreaksbr }}
      </div>
      {% endfor %}
    </td>
  </tr>
</table>
